footer{
    background-color: black;
    padding: 1vh;
    box-shadow: 0 0 10rem 0.1rem #ffad0aa1;
    margin-top: 8rem;
}
#Footer-gttLogo{
    height: 4rem;
    width: auto;
    padding: 2vh;
    margin-right: 2vh; 
    border-right: 0.1rem solid white;
}
#Footer-linkHolder{
    display: grid;
    grid-template-columns: auto auto auto;
}
.Footer-link{
    height: 1.5rem;
    padding: 0.1rem;
    text-wrap: nowrap;
}
.Footer-link img{
    margin-right: 0.2rem;
    height: 1.5rem;
    width: auto;
}
.Footer-link_wrap img{
    margin-right: 0.2rem;
    height: 1.5rem;
    width: auto;
}
.Footer-holder{
    display: flex;
}
@media screen and (max-width: 1200px) {
    #Footer-linkHolder{
        display: block;
        /*grid-template-columns: auto auto auto;*/
        word-wrap: break-word;
    }
    .Footer-holder{
        display: block;
    }
    .Footer-link{
        word-wrap: break-word;
        text-wrap: nowrap;
    }
    #Footer-gttLogo{
        height: 1rem;
        width: auto;
        padding: 0vh;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        padding-bottom: 0.1rem;
        border-right: 0rem solid white;
        border-bottom: 0.1rem solid white;
    }
}

@media screen and (max-width: 400px) {
    .Footer-link{
        word-wrap: break-word;
        text-wrap: unset;
    }
    .Footer-link_wrap{
        padding-bottom: 0.2rem;
    }
    .Footer-link_wrap img{
        margin-right: 0.2rem;
    }
}