#Header-hamburgerButton-holder {
    display: none;
}

#Header-navbar {
    background-color: black;
    padding-top: 0vh;
    padding-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    box-shadow: 0 0 10rem 0.1rem #ffad0aa1;
    margin-bottom: 8vh;
}

#Nav-buttons {
    margin-left: auto;
}

#Header-navbar > div {
    padding: 0.5vh;
    display: flex;
}

#Header-navbar li {
    list-style-type: none;
    height: 100%;
    margin-right: 1vw;
}

#Header-navbar a {
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

#Header-navbar a:hover {
    color: #FF9E00;
}

.Header-link-text, .Header-link-button {
    font-size: calc(1rem + 0.7vw);
    font-weight: bold;
}

.Header-link-text {
    padding: 0.2em;
    border-bottom: 0.1rem solid white;
}

.Header-link-button {
    display: flex;
    align-items: center;
    padding: 0.2em;
    border: 0.1rem solid #FF9E00;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem #FFAF0A;
}

.Header-link-account {
    background-color: #FF9E00;
}

.Header-link-button:hover {
    box-shadow: 0 0 0rem 0rem #FFAF0A;
    color: #FF9E00;
}

.Header-link-account:hover {
    color: black;
}

#Header-navbar img {
    margin-top: 1vh;
    height: 8vh;
}

#Nav-spacer {
    flex-grow: 1;
}

@media screen and (max-width: 600px) and (max-aspect-ratio: 1) {
    #Header-navbar {
        display: none;
        box-shadow: 0 0 0rem 0rem #ffad0aa1;
    }

    #Header-navbar > div {
        padding: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Header-link-text, .Header-link-button {
        font-size: 2em;
        padding-left: 0.8em;
        padding-right: 0.8em;
        margin-bottom: 1em;
    }

    #Header-hamburgerButton-holder {
        display: block;
        width: 100%;
        background-color: black;
    }

    /* Hamburger container styles */
    #Header-hamburgerButton {
        width: 20vw;
        height: 12vw;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    /* Hamburger lines */
    #Header-hamburgerButton .Header-hamburgerButton-line {
        width: 100%;
        height: 2vw;
        background-color: white;
        border-radius: 1vw;
        transition: all 0.3s ease;
    }

    /* Animation for active state */
    #Header-hamburgerButton.active .Header-hamburgerButton-line:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    #Header-hamburgerButton.active .Header-hamburgerButton-line:nth-child(2) {
        opacity: 0;
    }

    #Header-hamburgerButton.active .Header-hamburgerButton-line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }
}
