---
import Input from "../../components/forms/Input.astro";
import Selection from "../../components/forms/Selection.astro";
import Submit from "../../components/forms/Submit.astro";
import Loading from "../../components/Loading.astro";
import GttLayoutSplit from "../../layouts/GttLayoutSplit.astro";
import "../../styles/pages/team/create.css"
---
<GttLayoutSplit pageTittle="Připojit se do týmu">
    <Loading elementId="create-loading"></Loading>
    <main id="create" style="display: none">
        <section id="create-info">
            Nejdříve vyplňte informace o Vás <a href="/account" target="_blank">zde</a>.<br>
            <button id="create-accountInfo-complete">Hotovo</button>
        </section>
        <section id="create-game-info" style="display: none">
            <Selection elementId="create-game" divClass="create-div" selectionId="create-game-selection">Hra</Selection>
            <Submit elementId="create-gameSave" value="Vybrat hru" />
        </section>
        <section id="create-formHolder" style="display: none">
            <h1>Připojit se do týmu</h1>
            <div class="account-underline"></div>
            <form id = "create-form">
                <Input elementId="create-name" divClass="create-div">Název týmu</Input>
                <Input elementId="create-nick" divClass="create-div">Přezdívka</Input>
                <Selection elementId="create-rank" divClass="create-div" selectionId="create-rank-selection">Rank</Selection>
                <Selection elementId="create-maxRank" divClass="create-div" selectionId="create-maxRank-selection">Maximimální dosažený rank</Selection>
                <Submit elementId="create-saveButton" value="Vytvořit tým" />
            </form>
        </section>
    </main>
</GttLayoutSplit>
<script src="../../scripts/pages/team/create.ts"></script>