---
import Input from "../../components/forms/Input.astro";
import Selection from "../../components/forms/Selection.astro";
import Submit from "../../components/forms/Submit.astro";
import Loading from "../../components/Loading.astro";
import GttLayoutSplit from "../../layouts/GttLayoutSplit.astro";
---
<GttLayoutSplit pageTittle="Připojit se do týmu">
    <Loading elementId="join-loading"></Loading>
    <main id="join" style="display: none">
        <section id="join-info">
            Nejdříve vyplňte informace o Vás <a href="/account" target="_blank">zde</a>.<br>
            <button id="join-accountInfo-complete">Hotovo</button>
        </section>
        <section id="join-formHolder" style="display: none">
            <h1>Připojit se do týmu</h1>
            <div class="account-underline"></div>
            <form id = "join-form">
                <Input elementId="join-nick" divClass="join-div">Přezdívka</Input>
                <Selection elementId="join-role" divClass="join-div" selectionId="join-role-selection">Role</Selection>
                <Selection elementId="join-rank" divClass="join-div" selectionId="join-rank-selection">Rank</Selection>
                <Selection elementId="join-maxRank" divClass="join-div" selectionId="join-maxRank-selection">Maximimální dosažený rank</Selection>
                <Submit elementId="join-saveButton" value="Připojit se do týmu" />
            </form>
        </section>
    </main>
</GttLayoutSplit>
<script>
import { loadingError } from "../../scripts/loading";
import { flashToastError, showToastError } from "../../scripts/toast";
import { getIdFromRankName, listRanks } from "../../scripts/api/ranks";
import { Rank } from "../../scripts/api/ranks";
import { addOptions } from "../../scripts/selection";
import { ShowError } from "../../scripts/api/utils";
import { listGeneratedRoles, getIdFromGeneratedRoleName } from "../../scripts/api/generatedRoles";
import type { GeneratedRole } from "../../scripts/api/generatedRoles";
import {join} from "../../scripts/api/teams";

const main = document.getElementById("join") as HTMLDivElement;
const loading = document.getElementById("join-loading") as HTMLDivElement;
const accountInfoComplete = document.getElementById("join-accountInfo-complete") as HTMLDivElement;
const joinInfo = document.getElementById("join-info") as HTMLDivElement;
const formHolder = document.getElementById("join-formHolder") as HTMLDivElement;
const form = document.getElementById("join-form") as HTMLDivElement;
const formInputs = {
    "nick": document.getElementById("join-nick") as HTMLInputElement,
    "role": document.getElementById("join-role") as HTMLInputElement,
    "rank": document.getElementById("join-rank") as HTMLInputElement,
    "maxRank": document.getElementById("join-maxRank") as HTMLInputElement
}

let ranks: Rank[] = [];
let roles: GeneratedRole[] = [];

const url = new URL(window.location.href);
const teamId = Number(url.searchParams.get("teamId"));
const gameId = Number(url.searchParams.get("gameId"));
const joinString = url.searchParams.get("joinString");
if (isNaN(teamId) || typeof teamId !== 'number') {
    showToastError("Neplatný link");
    loadingError(loading);
} else if (isNaN(gameId) || typeof gameId !== 'number') {
    showToastError("Neplatný link");
    loadingError(loading);
} else if (joinString === null) {
    showToastError("Neplatný link");
    loadingError(loading);
}else{
    async function loadRanks(gameId: number) {
        ranks = await listRanks(gameId);
        let options: string[] = [];
        ranks.forEach(rank => {
            options.push(rank.rankName);
        });
        addOptions("join-rank-selection", "join-rank", options);
        addOptions("join-maxRank-selection", "join-maxRank", options);
        return ranks;
    }

    async function loadRoles(gameId: number) {
        roles = await listGeneratedRoles(gameId);
        let options: string[] = [];
        roles.forEach(role => {
            options.push(role.roleName);
        });
        addOptions("join-role-selection", "join-role", options);
        return roles;
    }

    async function load(){
        try {
            await loadRanks(gameId);
            await loadRoles(gameId);
            main.style.display = "block";
            loading.style.display = "none";
            accountInfoComplete.addEventListener("click", event=>{
                formHolder.style.display = "block";
                joinInfo.style.display = "none";
            });
        } catch (e) {
            if (e instanceof ShowError) {
                loadingError(loading);
                showToastError(e.message);
            } else {
                loadingError(loading);
                showToastError("Neznámá chyba, kontaktujte prosím podporu.");
                throw e;
            }
        }
    }
    async function submit(event: Event){
        event.preventDefault();
        const rank = getIdFromRankName(formInputs.rank.value, ranks);
        const maxRank = getIdFromRankName(formInputs.maxRank.value, ranks);
        const role = getIdFromGeneratedRoleName(formInputs.role.value, roles);
        if(formInputs.nick.value === ""){
            flashToastError("Zadejte prosím přezdívku.");
        } else if(rank === -1){
            flashToastError("Zadejte prosím aktuální rank.");
        } else if(maxRank === -1){
            flashToastError("Zadejte prosím maximimální dosažený rank.");
        } else if(role === -1){
            flashToastError("Zadejte prosím roli.");
        }else if (joinString === null) {
            showToastError("Neplatný link");
        }else{
            main.style.display = "none";
            loading.style.display = "block";
            try {
                await join(teamId, joinString, formInputs.nick.value, rank, maxRank, role);
                window.location.href = "/myTeams";
            } catch (e) {
                if (e instanceof ShowError) {
                    loadingError(loading);
                    flashToastError(e.message);
                } else {
                    loadingError(loading);
                    showToastError("Neznámá chyba, kontaktujte prosím podporu.");
                    throw e;
                }
            }
        }
    }

    form.addEventListener("submit", submit);
    load();
    
}
</script>
<style>
    #join-info{
        font-weight: bold;
        font-size: 2rem;
    }
    #join-info a{
        text-decoration: none;
        color: blue;
    }
    #join-info button{
        border: none;
        outline: none;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 0.2rem 0.3rem #ffffff34;
        font-size: 1.5rem;
        padding-left: 1%;
        padding-right: 1%;
        background-color: #FF9E00;
        font-weight: bold;
        cursor: pointer;
    }
    #join-info button:hover{
        box-shadow: 0 0 0rem 0rem #ffffff34;
    }
</style>

<style is:global>
    #join-gameSave{
        margin-top: 1rem;
    }
    #join-form .join-div-half, #join-form .join-div, #join-form #join-saveButton{
        margin-top: 1rem;
    }
</style>