---
import Input from "../../components/forms/Input.astro";
import Selection from "../../components/forms/Selection.astro";
import Submit from "../../components/forms/Submit.astro";
import Loading from "../../components/Loading.astro";
import GttLayoutSplit from "../../layouts/GttLayoutSplit.astro";
import "../../styles/pages/team/join.css";
---
<GttLayoutSplit pageTittle="Připojit se do týmu">
    <Loading elementId="join-loading"></Loading>
    <main id="join" style="display: none">
        <section id="join-info">
            Nejdříve vyplňte informace o Vás <a href="/account" target="_blank">zde</a>.<br>
            <button id="join-accountInfo-complete">Hotovo</button>
        </section>
        <section id="join-formHolder" style="display: none">
            <h1>Připojit se do týmu</h1>
            <div class="account-underline"></div>
            <form id = "join-form">
                <Input elementId="join-nick" divClass="join-div">Přezdívka</Input>
                <Selection elementId="join-role" divClass="join-div" selectionId="join-role-selection">Role</Selection>
                <Selection elementId="join-rank" divClass="join-div" selectionId="join-rank-selection">Rank</Selection>
                <Selection elementId="join-maxRank" divClass="join-div" selectionId="join-maxRank-selection">Maximimální dosažený rank</Selection>
                <Submit elementId="join-saveButton" value="Připojit se do týmu" />
            </form>
        </section>
    </main>
</GttLayoutSplit>
<script src="../../scripts/pages/team/join.ts"></script>