---
import HorizontalCenter from "../../components/HorizontalCenter.astro";
import Layout from "../GttLayoutGames.astro"
const {frontmatter} = Astro.props;
---
<Layout pageTitle = {frontmatter.title}>
    <HorizontalCenter><h1 class="GttLayoutGames-main">{frontmatter.title}</h1></HorizontalCenter>
    <slot/>
</Layout>