section{
    min-height: 50vh;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    text-align: center;
}

#index-header{
    margin-left: 5%;
    width: 70%;
    display: inline-block;
}

#index-logo{
    width: 20%;
    height: auto;
    display: inline-block;
}

h1 .index-yellow{
    background-image: linear-gradient(90deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
}

#index-gamesHolder{
    display: flex;
    width: 80vw;
    padding-left: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#games{
    padding-top: 15vh;
    background: radial-gradient(ellipse, #ffad0a55, transparent 50%);
    padding-bottom: 15vh;
    margin-bottom: 20vh;
}

.index-games{
    width: 15rem;
    height: 20rem;
    display: inline-block;
    background-color: white;
    color:black;
    margin: 1rem;
}

#index-statsHolder{
    display: flex;
    width: 60vw;
    padding: 10rem;
    justify-content: space-between;
    box-shadow: 0 0 10rem 0.5rem #ffffff34;
    border-radius: 5rem;
    background: linear-gradient(90deg, rgba(8,14,16,1) 0%, rgba(4,6,16,1) 100%);
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.index-stats-up{
    font-size: 4rem;
    min-width: 10rem;
    background-image: linear-gradient(90deg, #FFD60A, #FF9E00);
    border-bottom: 0.2rem solid white;
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
}

#index-participationHolder{
    display: flex;
    justify-content: space-around;
    width: 50rem;
}

#index-register, #index-createTeam{
    padding: 3rem;
    margin: 1rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 2rem;
    width: 50%;
}

#index-register{
    margin-bottom: 4rem;
    background-color: #FF9E00;
    color: white;
}

#index-createTeam{
    margin-top: 4rem;
    background-color: white;
    color: #FF9E00;
}

#index-register a, #index-createTeam a,  #index-createTeam span{
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 2rem;
}

#index-register a:hover, #index-createTeam a:hover{
    color: black;
}

#index-register a{
    background-color: white;
    color: #FF9E00;
    box-shadow: 0 0 1rem 0.1rem #ffffffa1;
}

#index-createTeam a{
    background-color: #FF9E00;
    color: white;
    box-shadow: 0 0 1rem 0.1rem #ffad0aa1;
}

#index-createTeam span{
    color: black;
    font-weight: bolder;
}

.index-flexbox{
    display: flex;
}

.index-spacer{
    flex-grow: 1;
}


#index-participation-left::after{
    background: radial-gradient(circle, #ffffff55, transparent 65%);
    transform: translateX(-25vw);
}

#index-participation-right::after{
    background: radial-gradient(circle, #ffad0a55, transparent 65%);
    transform: translateX(2vw);
}

#index-participation-right::after, #index-participation-left::after {
    content: "";
    width: 400%;
    display: block;
    height: 95vh;
    background-size: 50vw 50vw;
    background-repeat: no-repeat;
  }

#how_to_participate h2{
    margin-bottom: 5rem;
}
#how_to_participate{
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 3rem;
    }

    #index-statsHolder{
        display: block;
        width: 90vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 1vw;
        padding-right: 1vw;
        margin: 4vw;
        border-radius: 3rem;
    }
    .index-stats-up{
        font-size: 3rem;
        min-width: 0rem;
        margin: 3rem;
    }

    h1{
        word-wrap: break-word;
    }

    h2{
        font-size: 2rem;
        text-align: center;
    }
    #index-logo{
        display: none;
    }
    #index-participationHolder{
        display: block;
        width: 100%;
    }
    #index-register, #index-createTeam{
        width: auto;
    }
}

.index-sponsor img{
    height: 5rem;
    width: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#index-gamesHolder img{
    height: 10rem;
    width: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    transition: height 0.05s linear;
}
#index-gamesHolder a{
    min-height: 16rem;
    align-content: center;
}
#index-gamesHolder img:hover{
    height: 11rem;
}
@media screen and (max-width: 1200px) {
    #index-gamesHolder img{
        height: 5rem;
        width: auto;
    }
    #index-gamesHolder a{
        min-height: 7.5rem;
    }
    #index-gamesHolder img:hover{
        height: 5.5rem;
    }
}
