.image {
	display: flex;
	width: 100%;
}
#r2023 {
    margin-top: 5%;
    display: block; /*zanecha 2023 nad obrazkem*/
}
#image2023 {
    width: 73%; /*alignuje s hranicí 2. obrázku v divu*/
}

div {
	display: flex;
}

@media screen and (max-width: 1200px) {
    .image {
        margin-left: 5%;
    }
    .price h3 {
        text-align: left;
        margin-left: 5%;
        padding-left: 0;
        font-size: 5rem;
    }
    #prices h2 {
        margin-left: 3%;
        font-size: 6rem;
    }
    #image2023 {
        margin-left: 5%;
        width: 100%;
    }
    
    body {
        overflow-x: 0;
    }
    div {
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .price h3 {
        font-size: 2rem;
    }
    #prices h2 {
        font-size: 3rem;
    }
    #r2023 h2 {
        margin-bottom: 0;
    }
}