#schoolList-input{
    min-width: 40vw;
}
.schoolList-input-div{
    display: flex;
}
.schoolList-input-div label{
    white-space: nowrap;
    padding: 0rem;
    margin-right: 1rem;
}
@media screen and (max-width: 600px) and (max-aspect-ratio: 1) {
    .schoolList-input-div{
        display: block;
    }
}
