#sponsors{

}

.sponsors-sponsor{
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    width: 60%;
}

.sponsors-sponsor:nth-of-type(odd){
    text-align: left;
    background-color: #FF9E00;
    color: white;
}

.sponsors-sponsor:nth-of-type(odd) h2{
    color: white;
}

.sponsors-sponsor:nth-of-type(2n){
    margin-left: 35%;
    text-align: right;
    background-color: white;
    color: black;
}

.sponsors-sponsor:nth-of-type(2n) h2{
    color: black;
    width: 100%;
}