---
import { Image } from "astro:assets";
import GttLayout from "../layouts/GttLayout.astro";
import GttLogo from "../../public/favicon.svg";
import Carousel from "../components/Carousel.astro";
import HorizontalCenter from "../components/HorizontalCenter.astro";
---

<GttLayout pageTitle = "Hlavní stránka">
    <section id="home">
        <div id="index-header">
            <h1>Turnaj v<br/>
            počítačových hrách<br/>
            <span class="index-yellow">Gymnázia Tišnov</span></h1>
        </div>
        <Image id="index-logo" src={GttLogo} alt="GttLogo"></Image>
    </section>
    <section id="sponsors">
        <h2>Sponzoři</h2>
        <HorizontalCenter><Carousel elementId="index-sponsor-carousel"></Carousel></HorizontalCenter>
    </section>
    <section id="games">
        <h2>Co hrajeme?</h2>
        <div id="index-gamesHolder">
        </div>
    </section>
    <section id="stats">
        <HorizontalCenter>
            <div id="index-statsHolder">
                <div>
                    <div class="index-stats-up">5let</div>
                    <div>na bojišti</div>
                </div>
                <div>
                    <div class="index-stats-up">850+</div>
                    <div>účastníků</div>
                </div>
                <div>
                    <div class="index-stats-up">200+</div>
                    <div>účastnících se škol</div>
                </div>
            </div>
        </HorizontalCenter>
    </section>
    <section id="how_to_participate">
        <div class="index-flexbox">
            <div id="index-participation-right" class="index-spacer"></div>
            <div>
                <h2>Jak se zůčastnit?</h2>
                <div id="index-participationHolder">  
                    <div id="index-register">
                        <h3>Nejdříve si založte účet</h3>
                        <p>Nejdříve si musíte vytvořit účet.(Nezapomeň vyplnit důležité informace, které o tobě potřebujeme vědět.)</p>
                        <a href="/account">ZALOŽIT ÚČET</a>
                    </div>
                    <div id="index-createTeam">
                        <h3>Máte už účet založený?</h3>
                        <p>Pak už stačí jenom přečíst pravidla (jsou důležitá), najít spoluhráče, kliknout na tlačítko níže, vytvořit nový tým a pozvat do něj své spoluhráče!</p>
                        <div class="index-flexbox">
                            <div class="index-spacer"></div>
                            <span>→</span><a href="/myTeams">ZALOŽIT TÝM</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="index-participation-left" class="index-spacer"></div>
        </div>
    </section>
</GttLayout>
<script>
import { listGames } from "../scripts/api/game";
import { loadSponsors } from "../scripts/api/sponsors";
import { carouselAppendChild } from "../scripts/carousel";

    const carousel = document.getElementById("index-sponsor-carousel") as HTMLDivElement;
    const gameHolder = document.getElementById("index-gamesHolder") as HTMLDivElement;
    
    async function loadSponsorCarousel(){
        const sponsors = await loadSponsors();
        
        for(let sponsor of sponsors){
            const a = document.createElement("a");
            a.classList.add("index-sponsor");
            a.setAttribute("href", sponsor.sponsorLink);

            const img = document.createElement("img");
            img.setAttribute("src", sponsor.logo);
            a.appendChild(img);

            carouselAppendChild(carousel, a);
        }
    }

    async function loadGameBanners(){
        const games = await listGames();
        for(const game of games){
            const a = document.createElement("a");
            a.classList.add("index-game");
            a.setAttribute("href", `/games/rules/${game.name}/`);

            const img = document.createElement("img");
            img.setAttribute("src", game.icon);
            a.appendChild(img);

            gameHolder.appendChild(a);
        }
    }
    loadGameBanners();
    loadSponsorCarousel();
</script>
<style>
    section{
        min-height: 100vh;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 3rem;
        text-align: center;
    }

    #index-header{
        margin-left: 5%;
        width: 70%;
        display: inline-block;
    }

    #index-logo{
        width: 20%;
        height: auto;
        display: inline-block;
    }

    h1 .index-yellow{
        background-image: linear-gradient(90deg, #FFD60A, #FF9E00);
        background-clip: text;
        -webkit-background-clip: text; /* For WebKit browsers */
        color: transparent;
    }

    .index-sponsor{
        width: 10rem;
        height: 5rem;
        display: inline-block;
        background-color: white;
        color:black;
        font-size: 4rem;
        margin: 1rem;
    }

    #index-gamesHolder{
        display: flex;
        margin: 1%;
        width: 98%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #games{
        background: radial-gradient(circle, #ffad0a55, transparent 80vh);
        padding-top: 50vh;
        padding-bottom: 50vh;
    }

    .index-games{
        width: 15rem;
        height: 20rem;
        display: inline-block;
        background-color: white;
        color:black;
        margin: 1rem;
    }

    #index-statsHolder{
        display: flex;
        width: 60vw;
        padding: 10rem;
        justify-content: space-between;
        box-shadow: 0 0 10rem 0.5rem #ffffff34;
        border-radius: 5rem;
        background: linear-gradient(90deg, rgba(8,14,16,1) 0%, rgba(4,6,16,1) 100%);
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
    }

    .index-stats-up{
        font-size: 4rem;
        min-width: 10rem;
        background-image: linear-gradient(90deg, #FFD60A, #FF9E00);
        border-bottom: 0.2rem solid white;
        background-clip: text;
        -webkit-background-clip: text; /* For WebKit browsers */
        color: transparent;
    }

    #index-participationHolder{
        display: flex;
        justify-content: space-around;
        width: 50rem;
    }

    #index-register, #index-createTeam{
        padding: 3rem;
        margin: 1rem;
        font-size: larger;
        font-weight: bold;
        border-radius: 2rem;
    }

    #index-register{
        margin-bottom: 4rem;
        background-color: #FF9E00;
        color: white;
    }

    #index-createTeam{
        margin-top: 4rem;
        background-color: white;
        color: #FF9E00;
    }

    #index-register a, #index-createTeam a,  #index-createTeam span{
        padding: 0.5rem;
        text-decoration: none;
        border-radius: 2rem;
    }

    #index-register a:hover, #index-createTeam a:hover{
        color: black;
    }

    #index-register a{
        background-color: white;
        color: #FF9E00;
        box-shadow: 0 0 1rem 0.1rem #ffffffa1;
    }

    #index-createTeam a{
        background-color: #FF9E00;
        color: white;
        box-shadow: 0 0 1rem 0.1rem #ffad0aa1;
    }

    #index-createTeam span{
        color: black;
        font-weight: bolder;
    }

    .index-flexbox{
        display: flex;
    }

    .index-spacer{
        flex-grow: 1;
    }

    #index-participation-right{
        background: radial-gradient(circle, #ffffff55, transparent 65%);
        transform: translateX(-60%);
    }

    #index-participation-left{
        background: radial-gradient(circle, #ffad0a55, transparent 65%);
        transform: translateX(60%);
    }

    #how_to_participate h2{
        margin-bottom: 10rem;
    }
    #how_to_participate{
        overflow: hidden;
    }
</style>
<style is:global>
.index-sponsor img{
    height: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#index-gamesHolder img{
    height: 20rem;
    width: auto;
}
</style>