---
import HorizontalCenter from "../components/HorizontalCenter.astro"
import Loading from "../components/Loading.astro"
import Overlay from "../components/Overlay.astro"
import VerticalCenter from "../components/VerticalCenter.astro"
import GttLayoutSplit from "../layouts/GttLayoutSplit.astro"
import "../styles/pages/myTeams.css"
---

<GttLayoutSplit pageTitle = "Moje týmy">
    <Loading elementId="myTeams-loading"></Loading>
    <main id="myTeams" style="display: none">
        <div class="myTeams-header">
            <h1>Moje týmy</h1><div class="spacer"></div><a href="/team/create">Nový tým</a>
        </div>
        <div id="myTeams-teamHolder"></div>
    </main>
</GttLayoutSplit>
<div id="myTeams-join-overlay-holder" style="display: none">
    <Overlay elementId="myTeams-join-overlay">
        <div id="myTeams-join-closeHolder"><div class="myTeams-spacer"></div><div id="myTeams-join-spacer">X</div></div>
        <VerticalCenter>
            <HorizontalCenter>
                Pošlete spoluráči následující link:<br/>
                <span id="myTeams-join-joinString"></span>
            </HorizontalCenter>
            <HorizontalCenter>
                <button id="myTeams-join-regen">Přegenerovat</button>
            </HorizontalCenter>
        </VerticalCenter>
    </Overlay>
</div>
<script src="../scripts/pages/myTeams.ts"></script>