---
import GttLayoutContent from "../layouts/GttLayoutContent.astro";
import "../styles/winners.css";
---

<GttLayoutContent pageTitle = "Vítězové">
    <main id="winners">
        <h1>VÍTĚZOVÉ</h1>
        <h2>2023</h2>
        <h3>Counter-Strike 2</h3>
        <ul><li>PodVodníci Esports - Střední průmyslová škola Jedovnice</li></ul>
        <h3>League of Legends</h3>
        <ul><li>Gymbuc Elite - Gymnázium a obchodní akademie Bučovice</li></ul>
        <h3>Valorant</h3>
        <ul><li>Young Demons - Vyšší odborná škola, Střední průmyslová škola a Střední odborná škola řemesel a služeb, Strakonice</li></ul>
        <h3>Rainbow six: Siege</h3>
        <ul><li>PodVodníci Esports - Střední průmyslová škola Jedovnice</li></ul>
        <h3>Rocket League</h3>
        <ul><li>Anonymous - Gymnázium, Strakonice</li></ul>
        <h3>Minecraft</h3>
        <ul><li>Swag - Akademie - VOŠ, Gymn. a SOŠUP Světlá nad Sázavou</li></ul>
        <h3>Speciální ceny</h3>
        <ul><li>Brejchadcz - Stavba Babylónské věže</li></ul>
        <h2>2022</h2>
        <h3>Counter-Strike 2</h3>
        <ul><li>Rakeťáci</li></ul>
        <h3>League of Legends</h3>
        <ul><li>Pětikorunáči</li></ul>
        <h3>Valorant</h3>
        <ul><li>býtvejšjakty</li></ul>
        <h3>Rocket League</h3>
        <ul><li>Bros before</li></ul>
        <h3>Minecraft</h3>
        <ul><li>E=mc</li></ul>
        <h2>2021</h2>
        <h3>Counter-Strike 2</h3>
        <ul><li>Divočáci</li></ul>
        <h3>League of Legends</h3>
        <ul><li>Pětikorunáči</li></ul>
        <h3>Rocket League</h3>
        <ul><li>Kedluben VS Flop</li></ul>
        <h3>Minecraft</h3>
        <ul><li>IRMC</li></ul>
    </main>
</GttLayoutContent>
