---
import "../styles/carousel.css";
---
<div>
  <div class="Carousel">
    <slot/>
  </div>
  <div class="Carousel-controls">
    <button class="Carousel-scroll Carousel-button Carousel-left Carousel-disabled">&lt;</button>
          
    <div class="Carousel-spacer"></div>
    <button class="Carousel-scroll Carousel-button Carousel-right">&gt;</button>
    </div>
</div>
<script>
  import "../scripts/carousel.ts";
</script>
  