---
import ImageLink from './ImageLink.astro';
import logo from '../../public/favicon.svg';
import VerticalCenter from './VerticalCenter.astro';
import "../styles/components/header.css"
---
<div id="Header-hamburgerButton-holder">
    <div id="Header-hamburgerButton">
        <div class="Header-hamburgerButton-line"></div>
        <div class="Header-hamburgerButton-line"></div>
        <div class="Header-hamburgerButton-line"></div>
    </div>
</div>
<nav id="Header-navbar">
  <div>
    <li><ImageLink image={logo} link="/"></ImageLink></li>
    <li><a href="/games/rules/general"><VerticalCenter className="Header-link-text">Hry</VerticalCenter></a></li>
    <li><a href="/sponsors"><VerticalCenter className="Header-link-text">Sponzoři</VerticalCenter></a></li>
    <li><a href="/winners"><VerticalCenter className="Header-link-text">Vítězové</VerticalCenter></a></li>
    <li><a href="/schoolList"><VerticalCenter className="Header-link-text">Seznam škol</VerticalCenter></a></li>
    <li><a href="/prices"><VerticalCenter className="Header-link-text">Ceny</VerticalCenter></a></li>
    <li><a href="/aboutUs"><VerticalCenter className="Header-link-text">O nás</VerticalCenter></a></li>
  </div>
  <div id="Nav-spacer"></div>
  <div>
    <li><a href="/myTeams"><VerticalCenter className="Header-link-button">Moje týmy</VerticalCenter></a></li>
    <li><a href="/account"><VerticalCenter className="Header-link-button Header-link-account">Účet</VerticalCenter></a></li>
  </div>
</nav>

<script src="../scripts/components/header.ts"></script>