---
import { Image } from "astro:assets";
interface Props {
    image: ImageMetadata;
    link: string;
    alt?: string;
    className?: string; 
}
const {image, link, alt = "", className} = Astro.props;
import "../styles/components/imageLink.css";
---

<div class={className}><a class="ImageLink-a" href={link}><Image src={image} alt={alt}></Image><slot/></a></div>