---
import VerticalCenter from "./VerticalCenter.astro";
const Props ={
    elementId: String,
    loadingText: String
}
const {elementId = "Loading", loadingText = "Načítání"} = Astro.props;
import "../styles/components/loading.css"
---
<div id={elementId} class="Loading">
    <div class="Loading-wait">
        <div class="Loading-spinner">
        </div>
        <div class="Loading-textHolder">
            <VerticalCenter>
                <h1 class="Loading-text">{loadingText}</h1>
            </VerticalCenter>
        </div>
    </div>
    <div class="Loading-error" style="display:none">
        <div class="Loading-x">
            X
        </div>
        <div class="Loading-textHolder">
            <VerticalCenter>
                <h1 class="Loading-error-text">Nastala chyba</h1>
            </VerticalCenter>
        </div>
    </div>
</div>