---
import Overlay from "../components/Overlay.astro";
import HorizontalCenter from "../components/HorizontalCenter.astro";
import VerticalCenter from "../components/VerticalCenter.astro";
const { elementId } = Astro.props;
---
<div class="LoginOverlay" style="display: none">
    <Overlay elementId={elementId} >
        <VerticalCenter>
            <HorizontalCenter>
                Tato stránka vyžaduje Přihlášení, přihlašte se prosím <a href="/login" target="_blank">zde</a>.
            </HorizontalCenter>
        </VerticalCenter>
    </Overlay>
</div>
<style>
.LoginOverlay{
    font-weight: bold;
    font-size: 3em;
}

.LoginOverlay a{
    text-decoration: none;
    color: blue;
}
</style>