---
const {className} = Astro.props;
import "../styles/components/verticalCenter.css"
---
<div class="VerticalCenter-flexbox">
    <div class="VerticalCenter-spacer"></div>
    <div class={className}><slot/></div>
    <div class="VerticalCenter-spacer"></div>
</div>