#contestants-events-selector div {
    width: fit-content;
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 0.5rem 0.1rem #FFFFFF;
}

#contestants-events-selector div.active {
    text-decoration: none;
    background-image: linear-gradient(90deg, #FFD60A, #FF9E00);
    color: black;
    box-shadow: 0 0 0.5rem 0.1rem #FFAF0A;
    cursor: default;
}

#contestants-events-holder {
    margin-top: 2rem;
}

#contestants-events-holder svg.playoff .empty-match rect {
    fill: #88888844;
}
