.contestants-player{
    display: flex;
}
.contestants-spacer{
    flex-grow: 1;
}
.contestants-players{
    width: 30rem;
}
.contestants-team-teamIndex-participating{
    color: #68ff00;
}

.contestants-team-teamIndex-notparticipating{
    color: red;
}