/* .contestants-player{
    display: flex;
} */
.contestants-players{
    /*width: 30rem;*/
}
table{
    width: 100%;
}

table td:first-child {
  text-align: left;
}

table td:last-child {
  text-align: right;
}

.contestants-team-teamIndex-participating{
    color: #68ff00;
}

.contestants-team-teamIndex-notparticipating{
    color: red;
}

@media screen and (max-width: 600px) and (max-aspect-ratio: 1) {
    .contestants-players{
        /* width: 15rem; */
    }
}

@media screen and (max-width: 400px) {
    .contestants-players{
        width: unset;
    }
}
