.GttLayoutGames-main{
    margin-bottom: 0rem;
}
.GttLayoutGames-registration{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 0rem;
    background-image: linear-gradient(45deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
}
#GttLayoutGameRules-gameRoles thead span{
    width: fit-content;
    background-image: linear-gradient(45deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
}
#GttLayoutGameRules-gameRoles table{
    border-collapse: collapse;
}

#GttLayoutGameRules-gameRoles td, #GttLayoutGameRules-gameRoles th{
    border-collapse: collapse;
    border: 0.3rem solid white;
    padding: 1rem;
    text-align: center;
}