.ContentHolder{
    background: rgb(8,14,31);
    background: linear-gradient(90deg, rgba(8,14,31,1) 0%, rgba(4,6,16,1) 100%);
    margin: 8rem;
    padding: 4rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 10rem 0.5rem #ffffff34;
}

.ContentHolder h1{
    width: fit-content;
    background-image: linear-gradient(45deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
    font-size: 3.5rem;
}

.ContentHolder h2{
    width: fit-content;
    background-image: linear-gradient(45deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
    font-size: 2.5rem;
}

.ContentHolder h3{
    width: fit-content;
    background-image: linear-gradient(45deg, #FFD60A, #FF9E00);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
    font-size: 2rem;
    margin-bottom: 0rem;
}
.ContentHolder li p{
    margin: 0;
}
.ContentHolder a{
    text-decoration: none;
    color: blue;
}

#GttLayoutGames-sponsor-underline{
    width: 100%;
    background-color: white;
    height: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#gameSelectCarousel img{
    height: 8rem;
    width: auto;
}
.ContentHolder .GttLayoutGames-main{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #FFC300 100%);
    background-clip: text;
    -webkit-background-clip: text; /* For WebKit browsers */
    color: transparent;
}
#GttLayoutGames-subnav a{
    font-weight: bold;
    display: inline-block;
    min-width: 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10rem;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem #FFFFFF;
}
#GttLayoutGames-subnav a:first-child{
    background-color:#FF9E00;
    box-shadow: 0 0 0.5rem 0.1rem #FFAF0A;
    color: white;
    text-align: center;
}
#GttLayoutGames-subnav a:hover{
    box-shadow: 0 0 0rem 0rem #FFAF0A;
}
#GttLayoutGames-subnav a.disabled{
    box-shadow: 0 0 0rem 0rem #FFAF0A;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}
#GttLayoutGames-subnav a.disabled:first-child{
    box-shadow: 0 0 0rem 0rem #FFAF0A;
    background-color: #ffad0a65;
    color: black;
}

@media screen and (max-width: 600px) and (max-aspect-ratio: 1) {
    .ContentHolder{
        margin: 0.1rem;
        padding: 1rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 300px) {
    #GttLayoutGames-subnav a{
        min-width: 0rem;
        padding: 0.5rem;
        margin: 0rem;
        margin-bottom: 0.1rem;
    }
}
