.Selection-input{
    border: none;
    outline: none;
    width: 97%;
    height: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem 0.3rem #ffffff34;
    font-size: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
}

.Selection-input:hover{
    box-shadow: 0 0 0 0 #ffffff34;
}

.Selection-input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 0 #ffffff34;
}

.Selection-label{
    font-size: larger;
    margin-left: 1rem;
    font-weight: bold;
}
.Selection-anchor{
    position: relative;
    display:none;
}
.Selection-selection{
    position: absolute;
    max-height: 20vw;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.831);
}

.Selection-input:focus + .Selection-anchor, .Selection-anchor:focus + .Selection-anchor{
    display: block;
}
.Selection-selection > div:hover{
    color: black;
    background-color: #FF9E00;
}