---
import GttLayout from "./GttLayout.astro";
import GttLogo from "../assets/logo.svg";
import { Image } from "astro:assets";
const {pageTitle} = Astro.props;
import "../styles/layouts/GttLayoutSplit.css"
---
<GttLayout pageTitle={pageTitle}>
    <div class="GttLayoutSplit">
        <div class="ContentHolder"><slot/></div>
        <Image src={GttLogo} alt="gtt logo"></Image>
    </div>
</GttLayout>