---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LoginOverlay from "../components/LoginOverlay.astro";
import "../styles/layouts/GttLayout.css";

const {pageTitle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header id="GttLayout-header"/>
    <div id="GttLayout-container">
      <slot />
    </div>
    <div id="GttLayout-toast" style="display:none"></div>
    <script src="../scripts/layouts/GttLayout.ts"></script>
    <Footer id="GttLayout-footer" />
    <LoginOverlay elementId="account-overlay">
    </LoginOverlay>
  </body>
</html>