---
import { Image } from "astro:assets";
import Carousel from "../components/Carousel.astro";
import HorizontalCenter from "../components/HorizontalCenter.astro";
import GttLayout from "./GttLayout.astro";
interface Props {
    pageTitle: string,
    generalRules?: boolean,
    gameRules?: string,
    bracket?: string,
    contestants?: string
}
const {pageTitle, generalRules, gameRules, bracket, contestants} = Astro.props;
import "../styles/layouts/GttLayoutGames.css"
import { getCollection } from "astro:content";
const games = await getCollection('games');
const generalRulesAttributes = generalRules?{href:`/games/rules/general/`}:{class:"disabled"};
const gameRulesAttributes = gameRules?{href:gameRules}:{class:"disabled"};
const bracketAttributes = bracket?{href:bracket}:{class:"disabled"};
const contestantsAttributes = contestants?{href:contestants}:{class:"disabled"};
---
<GttLayout pageTitle={pageTitle}>
    <HorizontalCenter elementId="GttLayoutGames-sponsor-carouselHolder"><Carousel elementId="gameSelectCarousel">
        {games.map(game =><a href={`../${game.data.name}/`} class="index-game"><Image src={game.data.picture} alt={"Hra: " + game.data.name}/></a>)}    
    </Carousel></HorizontalCenter>
    <div id="GttLayoutGames-sponsor-underline"></div>
    <HorizontalCenter elementId="GttLayoutGames-subnav">
        <a id="GttLayoutGames-generalRules" {...generalRulesAttributes} >OBECNÁ PRAVIDLA</a>
        <a id="GttLayoutGames-rules" {...gameRulesAttributes}>PRAVIDLA</a>
        <a id="GttLayoutGames-bracket" {...bracketAttributes}>BRACKET</a>
        <a id="GttLayoutGames-contestants" {...contestantsAttributes}>ÚČASTNÍCI</a>
    </HorizontalCenter>
    <div class="ContentHolder">
        <slot></slot>
    </div>
</GttLayout>