---
import HorizontalCenter from "../components/HorizontalCenter.astro";
import Layout from "./GttLayoutGames.astro";
const {pageTitle} = Astro.props;
import "../styles/layouts/GttLayoutGameRules.css";
---
<Layout pageTitle = {pageTitle}>
    <HorizontalCenter><h1 class="GttLayoutGames-main">{pageTitle}</h1></HorizontalCenter>
    <HorizontalCenter><h2 class="GttLayoutGames-registration">Registrace: <span id="GttLayoutGameRules-registrationTime">již brzy</h2></HorizontalCenter>
    <slot/>
    <div id="GttLayoutGameRules-gameRoles"></div>
</Layout>
<script src="../scripts/layouts/GttLayoutGameRules.ts"></script>