---
import GttLayout from "./GttLayout.astro";
const {pageTitle} = Astro.props;
import "../styles/layouts/GttLayoutContent.css"
---
<GttLayout pageTitle={pageTitle}>
    <div class="ContentHolder"><slot/></div>
</GttLayout>