---
const Props ={
    elementId: String,
    divClass: String
}
const {elementId, divClass} = Astro.props;
import "../../styles/components/forms/checkbox.css"
---
<div class={divClass}>
    <label for={elementId} class="Checkbox-label"><slot/></label>
    <input id={elementId} class="Checkbox-input" type="checkbox"/>
</div>