---
const Props ={
    elementId: String,
    divClass: String
}
const {elementId, divClass} = Astro.props;
import "../../styles/components/forms/input.css"
---
<div class={divClass}>
    <label for={elementId} class="Input-label"><slot/></label>
    <input id={elementId} class="Input-input" type="text"/>
</div>