---
const Props ={
    elementId: String,
    divClass: String,
    selectionId: String,
}
const {elementId, divClass, selectionId} = Astro.props;
import "../../styles/components/forms/selection.css"
---
<div class={divClass}>
    <label for={elementId} class="Selection-label"><slot/></label>
    <input id={elementId} class="Selection-input" type="text"/>
    <div class="Selection-anchor">
        <div id={selectionId} class="Selection-selection"></div>
    </div>
</div>
<script src="../../scripts/components/forms/selection.ts"></script>